
    <div class="body">


      <div role="main" class="main">



        <div class="home-intro" id="home-intro">
          <div class="container">

            <div class="row">
              <div class="col-md-8">
                <p>
                  The fastest way to grow your business with the leader in <em>Technology</em>
                  <span>Check out our options and features included.</span>
                </p>
              </div>
              <div class="col-md-4">
                <div class="get-started">
                  <a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
                  <div class="learn-more">or <a href="index.html">learn more.</a></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container">

          <div class="row center">
            <div class="col-md-12">
              <h1 class="mb-sm word-rotator-title">
                Porto is
                <strong class="inverted">
                  <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                    <span class="word-rotate-items">
                      <span>incredibly</span>
                      <span>especially</span>
                      <span>extremely</span>
                    </span>
                  </span>
                </strong>
                beautiful and fully responsive.
              </h1>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
              </p>
            </div>
          </div>

        </div>


        <div class="container">

          <div class="row">
            <hr class="tall">
          </div>

        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-8">
              <h2>Our <strong>Features</strong></h2>
              <div class="row">
                <div class="col-sm-6">
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-group"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Customer Support</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-file"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">HTML5 / CSS3 / JS</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, adip.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">500+ Google Fonts</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-adjust"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Colors</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-film"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Sliders</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Icons</h4>
                      <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-bars"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Buttons</h4>
                      <p class="tall">Lorem ipsum dolor sit, consectetur adip.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="feature-box-icon">
                      <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-box-info">
                      <h4 class="heading-primary mb-none">Lightbox</h4>
                      <p class="tall">Lorem sit amet, consectetur adip.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h2>and more...</h2>

              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <i class="fa fa-usd"></i>
                        Pricing Tables
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="panel-body">
                      Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <i class="fa fa-comment"></i>
                        Contact Forms
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="panel-body">
                      Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <i class="fa fa-laptop"></i>
                        Portfolio Pages
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="panel-body">
                      Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="tall">

     <%= render 'pages/partials/wrotator' %>
<%= render 'pages/partials/wrotatornobg' %>
   <%= render 'pages/partials/circuloshome' %>
   <%= render 'pages/partials/owlcarousel' %>




                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </section>

      </div>


    </div>

