<div class="container">
       <div class="row">
         <div class="col-md-8">
           <h4>About Porto</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
           <hr class="light">
         </div>
         <div class="col-md-3 col-md-offset-1">
           <h5 class="short">Contact Us</h5>
           <span class="phone">(800) 123-4567</span>
           <p class="short">International: (333) 456-6670</p>
           <p class="short">Fax: (222) 531-8999</p>
           <ul class="list icons list-unstyled">
             <li><i class="fa fa-envelope"></i> <a href="mailto:okler@okler.net">okler@okler.net</a></li>
           </ul>

         </div>
       </div>
     </div>

     </div>